body {
background-color: rgb(40, 40, 40);

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.interface__container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    max-width: 2400px;
    max-height: 1200px;
}

.answer__UI__container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    max-width: 2400px;
    max-height: 1200px;
}

.category__menu__anchor {
    position: absolute;
    left: calc(50% - 40px);
    top: 50%;

    width: 80px;
    height: 80px;

    background-color: transparent;

    transform: translate(-350%, -300%);
}

.category__menu__container {
    position: absolute;

    top: 50%;

    width: 100%;

    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    align-self: flex-start;

    background-color: transparent;
}

.category__menu__item {
    position: absolute;

    width: 20px;
    height: 20px;

    padding: 5px;
    
    background-color: black;

    border-radius: 15px;

    transition: all 300ms;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    user-select: none;

    font-size: 14px;
}

.category__menu__item--setting {
    background-color: gray;
}

.category__menu__button {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    z-index: 1;

    width: 80px;
    height: 80px;
    align-self: flex-start;

    background-color: black;

    transition: transform 400ms 100ms;
}

.category__menu__button__decorator {
    width: 50px;
    height: 7px;

    border-radius: 5px;

    margin-top: 3px;
    margin-bottom: 3px;

    background-color: white;

    transition: all 100ms 350ms;
}

.answer__bg {
    position: absolute;
    background-color: lightblue;
    border-radius: 50%;

    z-index: -1;

    transition: 
        height 0.6s ease-in-out,
        width 0.6s ease-in-out
    ;
}

.answer__bg-red {
    background-color: lightcoral;
    width: 0px;
    height: 0px;
}

.answer__bg-blue {
    background-color: lightblue;
    
    height: 500px;
    width: 500px;
}

.prompt__container {

}

.answer__container {

}

.answer__container--extra {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 300px;
    height: 100%;
    max-height: 200px;

    overflow: hidden;
    border-radius: 0 0 50% 50%;
}

.answer__prompt {
    font-weight: 500;
    font-size: 24px;
}

.answer__description {
    max-width: 300px;
    text-align: center;
}

.answer__curiosa {
    text-align: center;
}

.answer__input {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 2px
}

.answer__submit {
    display: none;
}


.answer__container--kr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer__romanisation {
    font-size: 1.2rem;
    font-style: italic;
}

.answer__kr {
    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;

    margin-left: 20px;
}

.multians__container {
    align-self: center;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    visibility: hidden;
}

.multians__button {
    background-color: lightgreen;
    width: 120px;
    height: 40px;
    margin: 5px;

    color: black;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
}

.settings__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.settings__description {
    color: white;
    text-align: center;

    margin: 10px;
}

.multians__toggle {
    width: 140px;
    height: 60px;

    margin: 15px;
}

.limit-button {
    width: 140px;
    height: 60px;

    margin: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.limit-button__toast {
    position: relative;
    
    color: white;

    opacity: 0%;

    margin: 10px;
}

.included-words__text {
    position: relative;
    color: white;

    margin: 10px;
}

@media screen and (max-width: 1000px) {

    .answer__bg {
        max-width: 95vw;
        max-height: 95vw;
    }

    .answer__UI__container {
        margin-top: 30px;
    }

    .answer__container--extra {
        max-width: 70%;
    }

    .category__menu__anchor {
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100vw;

        transform: none;
    }
    
    .category__menu__container {
        width: 100%;
        height: 100vh;
        max-height: 400px;
    
        z-index: 0;
    
        display: none;

        flex-direction: column;
        flex-wrap: wrap;
        align-items: space-between;
        justify-content: flex-start;

        padding-top: 60px;
    }
    
    .category__menu__item {
        position: relative;

        margin: 10px;
    }
    
    .category__menu__item--setting {
        background-color: gray;
    }
    
    .category__menu__button {    
        border-radius: 0px;
    
        z-index: 1;
    
        width: 100%;
        height: 60px;
    }

    .multians__button {
        width: 180px;
        height: 60px;
        font-size: 1.2rem;
    }
}

@media (hover: hover) {
    .category__menu__item:hover {
        background-color: lightblue;
    }

    .category__menu__anchor:hover > .category__menu__button  {
        transform: rotate(-90deg) scale(1.1);
    }

    .category__menu__item:hover {
        background-color: lightblue;
    }

    .answer__input:hover {
        border: 2px black solid;
        margin: 0px;
    }
}